{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scrumptious</title>
    <link rel="stylesheet" href="{% static "css/recipes.css" %}">

</head>
<body>
    <header>
        <nav>
            <div><a class="nav_hover" href="list.html">Main</a></div>
      </nav>
    </header>
    <main>
        <h1>Scrumptious Recipes</h1>
        <h2 id="center">All the food that's fit to eat</h2>
        <div id="grid_list_taco">
            <div>
            <h3>
                <a href="details.html">Vegetarian Tacos</a>
            </h3>
                <img src="https://mks.io/public-tacos" alt="Taco picture">
                <div>4.3 stars</div>
                </div>
                <div>
                    <h3>
                        <a href="details.html">Japanese curry</a>
                    </h3>
                    <img src="https://mks.io/public-tacos" alt="Taco picture">
                        <div>4.3 stars</div>
                        </div>
                        <div>
                            <h3>
                                <a href="details.html">Vegetarian Tacos</a>
                            </h3>
                                <img src="https://mks.io/public-tacos" alt="Taco picture">
                                <div>4.3 stars</div>
                                </div>
                                <div>
                                    <h3>
                                        <a href="details.html">Vegetarian Tacos</a>
                                    </h3>
                                        <img src="https://mks.io/public-tacos" alt="Taco picture">
                                        <div>4.3 stars</div>
                                        </div>
                                        <div>
                                            <h3>
                                                <a href="details.html">Vegetarian Tacos</a>
                                            </h3>
                                                <img src="https://mks.io/public-tacos" alt="Taco picture">
                                                <div>4.3 stars</div>
                                                </div><div>
                                                    <h3>
                                                        <a href="details.html">Vegetarian Tacos</a>
                                                    </h3>
                                                        <img src="https://mks.io/public-tacos" alt="Taco picture">
                                                        <div>4.3 stars</div>
                                                        </div>
        </div>
    </div>
    </main>
    <footer>Made with love by Scrumptious Recipes</footer>
</body>
</html>