{% extends 'base.html' %}

    {% block title %}
    <title>{{ recipe_object.title }} - Scrumptious</title>
    {% endblock title %}

 {% block content %}
<header>
    <nav>
        {% if user.is_authenticated %}
        Hello, {{ user.username }}
        <a class="nav_hover" href="{% url 'user_logout' %}">Logout</a>
        <a class="nav_hover" href="{% url 'create_recipe' %}">Create a recipe</a>
        <a class="nav_hover" href="{% url 'my_recipe_list' %}">My recipes</a>
        {% else %}
            <a class="nav_hover" href="{% url 'signup' %}">Sign up</a>
            <a class="nav_hover" href="{% url 'user_login' %}">Login</a>
            {% endif %}

    </nav>
</header>

   
  
    <main>
        <h1>Scrumptious Recipes</h1>
        <h2 id="center">All the food that's fit to eat</h2>
        <div id="grid_list_taco">
            {% for recipe in recipe_list %}
            <div>
            <h3>
                <a href="{% url 'show_recipe' recipe.id %}">{{ recipe.title }}</a>
            </h3>
                <img id="list_img" src="{{ recipe.picture }}">
                <div>4.3 stars</div>
                <p>{{ recipe.created_on|date:"F d Y" }}</p>
                </div>
            {% endfor %}    
    </div>
    </main>
    {% endblock content %}